@charset "utf-8";

<style>
      background-image: url("earth.jpg");

    div#clock {
      text-align: center;
      background-color: #333333;
      width: 200px
      color white;
      padding: 10px;
      margin: 10px;
      border-radius: 18px
    }
       
     div#clock {
      font-family: sans-serif;
      font-size: 30px;
      color: white;
       }
     div#clock {
       font-size: 48px;
         
       }  
       
  </style>